<div>
  <h2>Search</h2>
  <input type="text" [(ngModel)]="query" placeholder="Search...">
  <button (click)="search()">Search</button>

  <div *ngIf="products.length > 0">
    <h3>Search Results</h3>
    <div class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <img [src]="product.imageUrl" alt="{{ product.title }}">
        <h1>{{ product.title }}</h1>
        <h2>{{ product.price | currency }}</h2>
        <a [routerLink]="['/products/', product.productId]">View Details</a>
      </div>
    </div>
  </div>
  <div *ngIf="products.length === 0 && searchPerformed">
    No results found.
  </div>
  <div *ngIf="loading">
    Loading...
  </div>
</div>
